<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <!-- Custom Stylesheet -->
      <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/loading.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/css/pagination/pagination.css"  />
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/js/customer/pagination.js"></script>
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="./plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="./plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="./plugins/tables/js/datatable-init/datatable-basic.min.js"></script> 
    <script src="/js/main.js"></script>
<script type="text/javascript">
function download(){
	jQuery.ajax({
	    cache: false,
	    url:  cabaseurl+'/listAllCustomers',
	    type: "GET",
	    success: function(json) {
	    	var createXLSLFormatObj = [];
	    	 
	        /* XLS Head Columns */
	        var xlsHeader = ["ID", "Name", "Company Name", "Address", "Email ID", "Password", "Phone No1", "Phone No2", "Status" ];
	 
	        /* XLS Rows Data */
	        var xlsRows =  json;       			  					  				
	        createXLSLFormatObj.push(xlsHeader);
	        $.each(xlsRows, function(index, value) {
	            var innerRowData = [];		            
	            $.each(value, function(ind, val) {
	                innerRowData.push(val);
	            });
	            createXLSLFormatObj.push(innerRowData);
	        });


	        /* File Name */
	        var filename = "Customers-list.xlsx";

	        /* Sheet Name */
	        var ws_name = "Customers";

	        if (typeof console !== 'undefined') console.log(new Date());
	        var wb = XLSX.utils.book_new(),
	            ws = XLSX.utils.aoa_to_sheet(createXLSLFormatObj);

	        /* Add worksheet to workbook */
	        XLSX.utils.book_append_sheet(wb, ws, ws_name);

	        /* Write workbook and Download */
	        if (typeof console !== 'undefined') console.log(new Date());
	        XLSX.writeFile(wb, filename);
	        if (typeof console !== 'undefined') console.log(new Date());
	     } ,
	    error: function(e){
	    }
	});	
}

	function getRecords(page,itemsPerRecord){
		$.ajax({
	        type : 'GET',
	        url : cabaseurl+'/filteredCustomers?iDisplayStart='+page+'&iDisplayLength=10&iSortCol_0=0&sSortDir_0=asc&sSearch='+document.getElementById("allSearch").value+'&status='+document.getElementById("statusCol").value+'&clientId='+document.getElementById("logedInClientId").value,
	        contentType:"application/json; charset=utf-8",	        
	        success : function(response)
	        {	        
	        	document.getElementById("total").value = response.recordsTotal;	 
	        	if(page=="-1" || page==-1){
	        		navicate(-1,"",10,10);
	        	}	        	
	        	$("#tbodyid").empty();	        	
		       $.each(response.list, function(i,dish){ 		    	   
		    	   var clientname = '<a style="text-decoration: underline;color: #7571f9;" href="../../jsp/work/listworks.jsp?customerId='+dish.sino+'&customerName='+dish.name+'&companyName='+dish.companyname+'" alt="Edit">'+dish.name+'</a>';
		       		
		    	   var markup = "<tr><td><input type='checkbox' style='outline: 2px solid #0D62C3;' name='customerIds' value='"+dish.sino+"'></td><td>"+clientname+"</td><td>" + dish.companyname + "</td><td>" 
		    	   + dish.address+"</td><td>" + dish.phno + "</td><td>" + dish.phno2+"</td></tr>";
		            $("table tbody").append(markup);
		       		 			             
		        });
		       if(response.list.length==0){
		    	   var markup = "<tr><td colspan='6' align='center'> No records Found. </td></tr>";
		    	   $("table tbody").append(markup);
		       }
	        },
	        error : function()
	        {	     
                // $('#').fadeOut();      
	            alert('Error. . .');
	        }
	    });
	}
	$(document).ready(function(){
		jQuery.ajax({
		    cache: false,
		    url:  cabaseurl+'/listAllConsultants',
		    type: "GET",
		    success: function(json) {
		    	var e = document.getElementById('logedInClientId');
		    	e.options[0] = new Option('All Consultant', '0');
		    	var d = 1; 		        			  					  				
		    	$.each(json, function(i,dish){
		    		e.options[d] = new Option(dish.name, dish.id);
		    		d++;				    					    		
		    	});
		    	/*if(document.getElementById("userType").value=='2'){
					document.getElementById("logedInClientId").value = document.getElementById("consultantId").value;
					document.getElementById("logedInClientId").disabled=true;
				}*/
		     } ,
		    error: function(e){
		    }
		});	
		$.ajax({
	        type : 'GET',
	        url : cabaseurl+'/filteredCustomers?iDisplayStart=0&iDisplayLength=10&iSortCol_0=0&sSortDir_0=asc&sSearch=&status=1&clientId=0',
	        contentType:"application/json; charset=utf-8",	        
	        success : function(response)
	        {	        
	        	document.getElementById("total").value = response.recordsTotal;
	        	navicate(-1,"",10,10);
	        	
		       $.each(response.list, function(i,dish){ 		    	   
		    	   var clientname = '<a style="text-decoration: underline;color: #7571f9;" href="../../jsp/work/listworks.jsp?customerId='+dish.sino+'&customerName='+dish.name+'&companyName='+dish.companyname+'" alt="Edit">'+dish.name+'</a>';
		       		
		    	   var markup = "<tr><td><input type='checkbox' style='outline: 2px solid #0D62C3;' name='customerIds' value='"+dish.sino+"'></td><td>"+clientname+"</td><td>" + dish.companyname + "</td><td>" 
		    	   + dish.address+"</td><td>" + dish.phno + "</td><td>" + dish.phno2+"</td></tr>";
		            $("table tbody").append(markup);
		       		 			             
		        });
	        },
	        error : function()
	        {	     
                // $('#').fadeOut();      
	            alert('Error. . .');
	        }
	    });
		 
	});
</script>	
</head>

<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="">

            <div style="padding:10px;">
                
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                    	
                        <div class="card">
                        
                            <div class="card-body">
                                <div>
                  		<span>Customer Details</span> 
                  		<button type="button" class="btn mb-1 btn-rounded btn-sm" style="padding-left: 10px;"><span style="border: 2px solid darkgray;" class="btn-icon-left"><i class="fa fa-check"></i> </span>Activate</button>
                  		<button type="button" class="btn mb-1 btn-rounded btn-sm" style="padding-left: 10px;"><span style="border: 2px solid darkgray;"  class="btn-icon-left"><i class="fa fa-envelope color-danger"></i> </span>DeActivate</button>
                  		<button type="button" class="btn mb-1 btn-rounded btn-sm" style="padding-left: 10px;"><span style="border: 2px solid darkgray;"  class="btn-icon-left"><i class="fa fa-close"></i> </span>Delete</button>
                  		<button type="button" class="btn mb-1 btn-rounded btn-sm" style="padding-left: 10px;"><span style="border: 2px solid darkgray;"  class="btn-icon-left"><i class="fa fa-envelope color-danger"></i> </span>Email</button>
                        <button type="button" class="btn mb-1 btn-rounded btn-sm" style="padding-left: 10px;"><span style="border: 2px solid darkgray;"  class="btn-icon-left"><i class="fa fa-envelope color-danger"></i> </span>Sms</button>
                         <button type="button" class="btn mb-1 btn-rounded btn-sm" onclick="download()" style="float:right;padding-left: 10px;"><span style="border: 2px solid darkgray;"  class="btn-icon-left"><i class="fa fa-download color-warning"></i> </span>Download</button>                                
                         <button type="button" class="btn mb-1 btn-rounded btn-sm" style="float:right;padding-left: 10px; margin-right: 2%"><span style="border: 2px solid darkgray;"  class="btn-icon-left"><i class="fa fa-upload color-success"></i> </span>Upload</button>                         
                    	</div>
                                <!-- <div class="table-responsive"> -->
	                                
                                	 <div class="row" style="padding: 5px">
                                         <input type="hidden" id="total" value="16"/>
		                                <select class="form-control" style="width: 200px; margin: 10px; height: 40px;" id="statusCol" name="statusCol" onchange="getRecords('-1',10)">
		                                    <option value="1" selected="selected">Active Clients Only</option>
											<option value="2" >DeActivated Clients Only</option>
		                                </select>
	                                
		                                <select class="form-control" style="width: 200px; margin: 10px; height: 40px;" id="logedInClientId"      name="clientCol" style="width: 180px;" onchange="getRecords('-1',10)">		          </select>
	                                	<input class="form-control" style="width: 240px; margin: 10px; height: 40px;" type="text" class="" onkeyup="getRecords('-1',10)" id="allSearch" name="allSearch" placeholder="Search in all columns...">
										<div class="pull-right form-control"  id="pg" style="margin-top: 9px;width: 504px;padding-top: 12px;height: 41px; float:right"></div>
                                	 </div>	
                                        <div style="padding-left: 10px; padding-right: 10px; width: 100%;">
                                            <table class="table table-striped table-bordered zero-configuration" id="customerTable">
                                                <thead>
                                                    <tr style="color: white; background-color: darkblue;">
                                                    	<th><input type="checkbox" style="outline: 2px solid white;" id="selectAll" name="selectAll" /></th>
                                                        <th>Name</th>
                                                        <th>Company Name</th>
                                                        <th>Address</th>
                                                        <th>Phone No1</th>
                                                        <th>Phone No2</th>                                                        
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyid">

                                                </tbody>
                                                <tfoot>
                                                    <tr style="color: white; background-color: darkblue;">
                                                    	<th>&nbsp;</th>
                                                        <th>Name</th>
                                                        <th>Company Name</th>
                                                        <th>Address</th>
                                                        <th>Phone No1</th>
                                                        <th>Phone No2</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    <!-- </div> -->
                                </div>
                            
                        <!-- </div> -->
                    </div>
                </div>
                
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        

    

</body>

</html>